html {
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form {
    font-size: 12px;
}

main, footer {
    margin: 0 auto;
    max-width: 1024px;
}

header, footer {
    background-color: cyan;
    border: 1px solid black;
}

header, section, footer {
    padding: 20px;
}

.personal-greeting {
    font-weight: bold;
}